<!DOCTYPE HTML>
<!--
	Laurenz Gallopyn

	Verti by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>NetWorkout</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/js/angular.min.js"></script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.dropotron.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/css/skel.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header -->
			<div id="header-wrapper">
				<header id="header" class="container">
				
					<!-- Logo -->
						<div id="logo">
							<h1><a href="/">NetWorkout</a></h1>
							<span>by KarnerBlu</span>
						</div>
					
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="/">Welcome</a></li>
								<li>
									<a href="">Dropdown</a>
									<ul>
										<li><a href="#">About us</a></li>
										<li><a href="/signup">Sign up</a></li>										
									</ul>
								</li>								
							</ul>
						</nav>
					
				</header>
			</div>
		
		<!-- Banner -->
			<div id="banner-wrapper">
				<div id="banner" class="box container">
					<div class="row">
						<div class="7u">
							<h2>Hi. This is NetWorkout.</h2>
							<p>It's a free workout planning site</p>
						</div>
						<div class="5u">
							<ul>
								<li><a href="/signup" class="button big icon fa-arrow-circle-right">Sign up</a></li>
								<li><a href="/login" class="button alt big icon fa-question-circle">Log in</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		
		<!-- Features -->
			<div id="features-wrapper">
				<div class="container">
					<div class="row">
						<div class="4u">
						
							<!-- Box -->
								<section class="box feature">
									<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
									<div class="inner">
										<header>
											<h2>Set goals</h2>
											<p>Create you're own personalized workout schedule</p>
										</header>
										<p>Set and share your fitness goals in you're NetWorkout profile.</p>
									</div>
								</section>

						</div>
						<div class="4u">
						
							<!-- Box -->
								<section class="box feature">
									<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
									<div class="inner">
										<header>
											<h2>Track your progress</h2>
											<p>Track the progress of you and you're friends.</p>
										</header>
										<p>Personalized data representations in the dashboards tab.</p>
									</div>
								</section>

						</div>
						<div class="4u">
						
							<!-- Box -->
								<section class="box feature last">
									<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
									<div class="inner">
										<header>
											<h2>Compete with friends</h2>
											<p>Compete with or support friends and family.</p>
										</header>
										<p>Join a group together with friends/family in the groups tab</p>
									</div>
								</section>

						</div>
					</div>
				</div>
			</div>
			
		<!-- Ads -->
			<div class="container">
				<div class ="row">
					<div class="4u">
						<section class="box feature">
							<a href="#" class="image featured"><img src="images/meme.jpg" alt=""/></a>													
						</section>
					</div>
					<div class="4u">
						<section class="box feature">
							<a href="#" class="image featured"><img src="images/inspire.jpeg" alt=""/></a>													
						</section>
					</div>
					<div class="4u">
						<section class="box feature">
							<a href="#" class="image featured"><img src="images/arnold.jpg" alt=""/></a>													
						</section>
					</div>
				</div>
			</div>
							
		<!-- Footer -->
			<div id="footer-wrapper">
				<footer id="footer" class="container">
					<div class="row">
						<div class="3u">
						
							<!-- Links -->
								<section class="widget links">
									<h3>Random Stuff</h3>
									<ul class="style2">
										<li><a href="#">Etiam feugiat condimentum</a></li>
										<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
										<li><a href="#">Sed porttitor cras in erat nec</a></li>
										<li><a href="#">Felis varius pellentesque potenti</a></li>
										<li><a href="#">Nullam scelerisque blandit leo</a></li>
									</ul>
								</section>
						
						</div>
						<div class="3u">
						
							<!-- Links -->
								<section class="widget links">
									<h3>Random Stuff</h3>
									<ul class="style2">
										<li><a href="#">Etiam feugiat condimentum</a></li>
										<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
										<li><a href="#">Sed porttitor cras in erat nec</a></li>
										<li><a href="#">Felis varius pellentesque potenti</a></li>
										<li><a href="#">Nullam scelerisque blandit leo</a></li>
									</ul>
								</section>
						
						</div>
						<div class="3u">
						
							<!-- Links -->
								<section class="widget links">
									<h3>Random Stuff</h3>
									<ul class="style2">
										<li><a href="#">Etiam feugiat condimentum</a></li>
										<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
										<li><a href="#">Sed porttitor cras in erat nec</a></li>
										<li><a href="#">Felis varius pellentesque potenti</a></li>
										<li><a href="#">Nullam scelerisque blandit leo</a></li>
									</ul>
								</section>
						
						</div>
						<div class="3u">
						
							<!-- Contact -->
								<section class="widget contact last">
									<h3>Contact Us</h3>
									<ul>
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
										<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
									</ul>
									<p>1234 Fictional Road<br />
									Nashville, TN 00000<br />
									(800) 555-0000</p>
								</section>
						
						</div>
					</div>													
					<div class="row">
						<div class="12u">
							<div id="copyright">
								<ul class="menu">
									<li>&copy; KarnerBlu. All rights reserved</li><li>Design: <a href="http://html5up.net">Laurenz Gallopyn</a></li>
								</ul>
							</div>
						</div>
					</div>
				</footer>
			</div>

	</body>
</html>