<html>
<head>
	<title>NetWorkout</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
	<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>-->
	<script src="/js/angular.min.js"></script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.dropotron.min.js"></script>
	<script src="/js/skel.min.js"></script>
	<script src="/js/skel-layers.min.js"></script>
	<script src="/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="/css/skel.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/style-desktop.css" />
	</noscript>
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>
<body class="homepage">

	<!-- Header -->
	<div id="header-wrapper">
		<header id="header" class="container">
		
			<!-- Logo -->
				<div id="logo">
					<h1><a href="/">NetWorkout</a></h1>
					<span>by KarnerBlu</span>
				</div>
			
			<!-- Nav -->
				<nav id="nav">
					<ul>							
						<li>
							<a href="">Dropdown</a>
							<ul>									
								<li><a href="/dashboard">Dashboard</a></li>	
								<li><a href="#">About us</a></li>
								<li><a href="/logout">Sign out</a></li>									
							</ul>
						</li>								
					</ul>
				</nav>			
		</header>
	</div>

<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/dashboard" class="btn btn-default btn-sm">Dashboard</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>username</strong>: <%= user.local.usrname %><br>
                        <strong>password</strong>: <%= user.local.password %><br>
                        <strong>email</strong>: <%= user.local.email %>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>